@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 15px;
}

a:hover{
    background-color: #ffffff27;
    transition: background-color 1s;
}